* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    overflow-x: hidden;
}
body {
    background-color: rgba(248, 192, 213, 0.781);
}
.app-container { 
    width: 60vw;
    height: 70vh;
    margin: 0 auto;
    display: flex;
}
section, .board {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .app-container {
        width: 100vw;
        flex-direction: column;
    }
    section, .board {
        width: 100%;
    }
    div.buttons-container {
        display: flex;
        flex-direction: row;
    }
    div.timer-container {
        order: 2;
        padding: 1rem 0;
    }
    div.buttons-container button {
        padding: 0.8em 1.2em;
        margin: 0.5em;
    }
}

h1 {
    font-family: fantasy;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    text-align: center;
    padding: 2rem;
    color: rgb(119, 218, 218);
    text-shadow: 3px 4px 3px rgb(45, 46, 45);
}
.game-board {
    background-color: rgb(207, 211, 211);
    border: 2px solid grey;
}
td {
    cursor: pointer;
    background-color: #C0C0C0;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size:1.0em;
    font-weight: bold; 
    border: 1.5px solid;
    border-top-color: #ffffff;
    border-right-color: #7B7B7B;
    border-bottom-color: #7B7B7B;
    border-left-color: #ffffff;
}
.revealed {
    background-color: #C0C0C0;
    border: none;
}
.timer { 
    font-size:  40px;
    text-align: center;
}
.timer-container {
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.mineBgc {
    background-color: red;
}
.buttons, .buttons-container {
    display: flex;
    flex-direction: column;
}
.buttons button {
    cursor: pointer;
    border: 0.06em solid black;
    border-radius: 0.3em;
    padding: 1.2em 2.5em;
    margin-bottom: 1em;
    font-size: 1rem;
    text-align: center;
}
button { 
    border: none;
    background-color: rgb(255, 246, 246);
}
.hints {
    opacity: 0;
    border: 0.06em solid black;
    border-radius: 0.3em;
    cursor: pointer;
    display: inline-block;
    padding: 1rem 2rem;
    margin: 1rem;
    background: #f5f585;
    font-size: 1rem;
    text-align: center;
}
.hinted {
    background-color: rgb(236, 236, 112);
}
.block {
    display: block;
}
.none {
    display: none;
}